/* * {
    outline: 1px dotted pink;
} */


header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

#container {
    margin: 100px auto 15px auto;
    width: 80%;
    min-height: 650px;
}

#whole_nav {
    width: 95%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header li {
    display: inline-block;
    margin-right: 25px;
    font-family: 'Ultra', serif;
    font-size: 1.2em;
}

#main_logo {
    width: 12em;
    height: 3.5em;
    margin-left: 35px;

}

#main_nav {
    padding-right: 100px;
    padding-left: 100px;
}

#container h1 {
    margin-top: 150px;
    margin-bottom: 50px;
}

#cart_table {
    width: 80%;
    margin: 0 auto;
}
table #quantity {
    text-align: center;
    width: 30%;
}
footer {
    width: 100%;
    height: 250px;
    background-color: darkgray;
    text-align: center;
    padding: 25px;
}

#social_network img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#quan_cart {
    color: red;
}
#empty {
    color: red;
}
.error {
    color: red;
}
.success {
    color: green;
}

#center_it {
    text-align: center;
}

#register {
    width: 40%;
    margin: 0 auto;
}