<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>True Grit | About</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{% static 'order_app/css/order_detail.css' %}">  
    <link rel="icon" href="{% static 'first_app/images/icon.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light" id="main_nav">
            <a class="navbar-brand" href="/"><img id = "main_logo" src="{% static 'first_app/images/true_logo.png' %}"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse whole.nav" id="navbarNavDropdown">
                <ul class="navbar-nav" id ="whole_nav">
                    <div id = 'nav_left'>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/program">PROGRAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">SHOP</a>
                        </li>
                    </div>
                    <div id = 'nav_right'>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MY ACCOUNT
                            </a>
                            {% if request.session.user_id > 0 %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <a class="dropdown-item" href="/log_out">Log Out</a>
                            </div>
                            {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/register">Register / Sign In</a>
                            </div>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">CART <span id='quan_cart'>{% if request.session.total_q > 0 %}{{ request.session.total_q }}{% endif %}</span></a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div id='container'>
        <h1>Order Detail</h1>
        <div id = "order_table">
            <h5>Order Number: TG0023{{ this_order.id }}</h5>
            <p>Order Placed on : {{ this_order.created_at | date:'N m Y g:i A' }}</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                    {% if product.quantity > 0 %}
                    <tr>
                        <th scope="row">{{ product.name }}</th>
                        <td>{{ product.quantity }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <th></th>
                        <td><b>Your Total:</b> ${{ this_order.total_amount }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <p id="back"><a href="/profile">Back</a></p>
        </div>
    </div>
        <footer>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Send Us a Message</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                    <input type="text" class="form-control" id="recipient-name" value ="service@truegrit.com">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <p>or</p>
            <p>Find Us on Social Media</p>
            <div id="social_network">
                <img class = "list-img" src="{% static 'first_app/images/insta.png' %}"/>
                <img class = "list-img" src="{% static 'first_app/images/facebook.png' %}"/>
                <img class = "list-img" src="{% static 'first_app/images/twitter.png' %}"/>
            </div>
            <br>
            <p>Copyright &copy; 2019, True Grit</p>
        </footer>
    </div>


</body>
</html>